
<div class="sidebar-wrapper">
    <div class="logo">
        <a routerLink="/" class="simple-text">
            <div class="logo-img">
                <img src="../../assets/img/angular2-logo.png" alt="">
            </div>
            SAP PDL
        </a>
    </div>
    <ul class="nav">
            <li *ngIf="isNotMobileMenu()">
                <a (click)="doLogOut()">
                    <i class="ti-share-alt"></i>
					<p>LogOut</p>
                </a>
            </li>
            <li *ngIf="isNotMobileMenu()">
                <a routerLink="/login">
                    <i class="ti-share"></i>
					<p>Login</p>
                </a>
            </li>
            <li *ngIf="isNotMobileMenu()">
                <a routerLink="/signup">
                    <i class="ti-hand-point-up"></i>
					<p>Signup</p>
                </a>
            </li>
            <li class="divider" *ngIf="isNotMobileMenu()"></li>
            <li *ngFor="let menuItem of menuItems" routerLinkActive="active" class="{{menuItem.class}}">
                <a [routerLink]="[menuItem.path]">
                    <i class="{{menuItem.icon}}"></i>
                    <p>{{menuItem.title}}</p>
                </a>
            </li>
    </ul>
</div>
