.logo .logo-img img{
    width: 42px;
    top: 16px;
    left: 18px;
    position: absolute;
}
.logo {
    margin: 0 20px;
}
.logo .simple-text {
    color: #66615B;
    text-transform: uppercase;
    padding: 4px 0px;
    display: block;
    font-size: 18px;
    text-align: center;
    font-weight: 400;
    line-height: 30px;
    margin-left: 30px;
    margin-top: 18px;
}
.lgo .logo-img {
    width: 42px;
    max-height: 42px;
}

a {
    cursor: pointer;
}